@media screen and (max-width:1024px) {
  .mdl-layout__header .mdl-layout__drawer-button {
    margin-top: 0px;
  }
}
@media screen and (max-width:1024px) {
  .mdl-layout__drawer-button {
    margin-top: 0px;
  }
}
@media screen and (min-width:1025px) {
  .mdl-layout__drawer-button {
    line-height: inherit;
  }
}
.mdl-layout__drawer-button {
  height: inherit;
  line-height: inherit;
}
.mdl-layout__container{
  top: 0;
}
